 .u-section-1 {
  background-image: url("images/78d856a9661a79e0d21088a104e2185bdfc30fed4b65681afcd1e237000f29a2a59d18b22887587de1076cd318ce4ded54ec1b8e5b80fab51abaad_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 766px;
}

.u-section-1 .u-form-1 {
  height: 540px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #adcce9;
  --track-active-color: #ffffff;
  background-image: none;
  width: 655px;
  margin: 60px auto;
}

.u-section-1 .u-form-group-1 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  width: 212px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-1 .u-input-1 {
  height: 47px;
}

.u-section-1 .u-form-group-2 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  width: 212px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-1 .u-input-2 {
  height: 47px;
}

.u-section-1 .u-form-group-3 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  width: 212px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-1 .u-input-3 {
  height: 47px;
}

.u-section-1 .u-form-group-4 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  width: 212px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-1 .u-input-4 {
  height: 47px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 710px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-image-1 {
  min-height: 590px;
  background-image: url("images/fb623f0283bb1c5e0572284b0e6da42a68b0f08bc23edbca4a45beaed80646ca04b33989a6cf344034c07b95249eb11fe5d17b4d09051755514689_1280.jpg");
  background-position: 10.73% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 590px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 165px auto 0;
}

.u-section-2 .u-group-1 {
  min-height: 141px;
  margin-top: 33px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0 8px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 486px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-2 .u-image-1 {
    min-height: 372px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-2 .u-image-1 {
    min-height: 558px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 49px;
    margin-bottom: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 177px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }
}